
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
.DS_Store

# Django
*.log
*.pot
media/
staticfiles/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor
.idea/
.vscode/
*.swp
*.swo
